<!--Comments block-->
<comments>
    <html xmlns:th="http://www.thymeleaf.org">
    <div class="comments">
        <form method="post" th:action="@{/car/{id}/comment(id=${car.id})}">
            <textarea name="comment_text" placeholder="Leave a comment here"></textarea>
            <button type="submit">Send</button>
        </form>
        <div class="comments-list">
            <div class="comment" th:each="comment : ${comments}">
                <h3 th:text="${comment.username}"></h3>
                <p th:text="${comment.commentText}"></p>
            </div>
        </div>
    </div>
    </html>
</comments>